{% extends 'layouts/base.html.twig' %}

{% block title %}Kevin Code - Portfolio
{% endblock %}

{% block body %}
	{% if pins|length  > 0 %}

		<h1 class="mb-4 text-center text-muted">{{ pluralize(pins|length, 'Projet') }}
		</h1>

		{% for row in pins|batch(3) %}
			<div class="row mb-5">

				{% for pin in row %}
					<div class="col-md-4">

						<article class="pin bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden" >
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/moon_default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100 rounded-top"/>
                                </a>

                            </div>
							
							<h2 class="pl-3 pt-3 h5 ">
								<a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-secondary text-decoration-none">{{ pin.title }}
								</a>
							</h2>
							<p class="pl-3 pb-3 text-muted ">
								<small>Crée par [FULL NAME]
								{{ pin.createAt|ago }}
                                </small>
							</p>
						</article>

					</div>

				{% endfor %}
			</div>
		{% endfor %}

	{% else %}
		<p class=" h1 mt-5 text-center">
			Pas de Projet actuellement
		</p>
	{% endif %}
{% endblock %}
